<div class="card">
  <div class="card-header d-flex justify-content-center p3 mb-2 bg-dark text-white"></div>
  <div class="card-footer"></div>
  <div class="card-body">
    <table class="table table-hover table-stiped">
      <thead>
      <th>Ref</th>
      <th>Description</th>
      <th>Total</th>
      <th>TotalPaye</th>
      <th>Budget annee</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let c of commandes; index as i">
        <td>{{c.reference}}</td>
        <td>{{c.description}}</td>
        <td>{{c.total}}</td>
        <td>{{c.totalPaye}}</td>
        <td *ngFor="let m of budgets; index as i">{{m.annee}}</td>
        <td>
          <span (click)="deleteC(i)"><i class="fa fa-trash btn btn-danger mr-2"></i></span>
        </td>
      </tr>
      </tbody>
    </table>


  </div>
</div>

<div class="card-header d-flex justify-content-center p3 mb-2 bg-white text-white text-center"><h1>_____________________</h1></div>
<div class="card-header d-flex justify-content-center p3 mb-2 bg-white text-white text-center"><h1>______________________________________</h1></div>

